@use "../../style.scss" as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 92px;
  min-height: 100vh;
}

.intro {
  max-width: 340px;
  margin-bottom: 24px;
  opacity: 0;
  text-align: center;
  @include heading-3;
}

.bio {
  max-width: 800px;
  margin-bottom: 24px;
  opacity: 0;
  color: #898989;
  text-align: justify;

  @include lead-paragraph;
}

.technologies-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 0;
  gap: 16px;
  opacity: 0;
}

@media (min-width: 780px) {
  .intro {
    max-width: 560px;
    @include heading-1;
  }
}
