.footer {
  display: flex;
  justify-content: end;
  padding-top: 21px;
  padding-bottom: 21px;

  a {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.social-networks {
  display: flex;
  gap: 18px;
}

.social-networks a {
  display: flex;
  align-items: center;
}

.email-link {
  display: flex;
  align-items: center;
  gap: 2px;
}

.logo {
  width: 18px;
  height: 18px;
  color: var(--color-secondary);
}

.email-icon {
  width: 22px;
  color: var(--color-secondary);
}
